html {
    background-color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
}

.head {
    display: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    padding: 10px 0;
    margin: 0;
    background-color: teal;
    color: white;
    text-align: center;
}

.head h1 {
    color: red;
}

.form {
    display: inline;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
}

.input {
    width: 100%;
}

.input label{
    display: block;
    padding: 1%;
    color: green;
}

.input input {
    display: block;
    width: 80%;
    padding: 2%;
    border-color: green;
    border-radius: 5px;
    margin-left: 10px;
}

.submit {
    padding: 1%;
}

.submit button{
    padding: 1%;
    color: yellow;
    background-color: white;
    border-color: yellow;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
}

#result {
    padding: 1%;
}

#result h2 {
    color: green;
}

@media (min-width: 768px) {
    .input {
        width: 50%;
    }
}